.dropdown-divider {
    margin: 0px;
}
@media(max-width: 350px) {
    li.dropdown {
        display: block!important;
    }
}
.btn-dropdown {
    margin-left: 0px;
}
.align-dropdown {
    align-self: auto;
}
button.minimalize-styl-2 {
    margin-left: 5px;
}
