<nav class="navbar-default navbar-static-side menu-animation animated slideInLeft"
    role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <!-- <img alt="image" class="logo"
                        src="assets/img/logo-flash.png"/> -->
                </div>
                <div class="logo-element">LC</div>
            </li>
            <li>
                <a>
                    <span class="nav-label">Container</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="nav-label">Label</span>
                </a>
            </li>
            <li>
                <a>
                    <span class="nav-label">Button</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
