.btn-align {
    width: 25px !important;
    height: 25px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.size-input {
    padding-right: 0;
}
