<div class="row col-md-12 text-left m-b-md" style="padding-right: 0 !important">
    <div class="col-md-6 text-left">
        <button
            type="button"
            class="btn m-r-md tab-btn"
            [class.btn-default]="isLogicContainer"
            [class.btn-primary]="!isLogicContainer"
            (click)="setLogicContainer(false)"
        >
            Interface
        </button>
        <button
            type="button"
            class="btn btn-default tab-btn"
            [class.btn-default]="!isLogicContainer"
            [class.btn-primary]="isLogicContainer"
            (click)="setLogicContainer(true)"
        >
            Lógica
        </button>
    </div>
    <div class="col-md-6 text-right" style="padding-right: 0 !important">
        <button type="button" class="btn btn-primary tab-btn" (click)="apply()">
            Aplicar
        </button>
    </div>
</div>

<div id="gui" class="col-md-12" *ngIf="!isLogicContainer">
    <div class="screen" id="canvas">
        <div *ngFor="let e of elements; let i = index">
            <div
                *ngIf="e.type === 'container'"
                [ngStyle]="{
                    width: e.width,
                    height: e.height,
                    position: 'absolut',
                    border: 'solid'
                }"
                mwlResizable
                (click)="click($event, $event.target)"
                cdkDrag
                cdkDragBoundary=".screen"
                [id]="e.name"
            ></div>
            <button
                *ngIf="e.type === 'button'"
                class="btn btn-default draggable"
                [id]="e.name"
                (click)="click($event, $event.target)"
                cdkDrag
                cdkDragBoundary=".screen"
            >
                Botão
            </button>
            <p
                *ngIf="e.type === 'label'"
                class="draggable"
                [id]="e.name"
                (click)="click($event, $event.target)"
                cdkDrag
                cdkDragBoundary=".screen"
            >
                Novo Label
            </p>
            <input
                *ngIf="e.type === 'input'"
                class="draggable input-field"
                [id]="e.name"
                (click)="click($event, $event.target)"
                cdkDrag
                cdkDragBoundary=".screen"
            />
        </div>
    </div>
</div>

<div id="logic" class="col-md-12" *ngIf="isLogicContainer">
    <form [formGroup]="logicForm">
        <div class="ibox">
            <div class="ibox-title">
                <div class="ibox-tools">
                    <div class="row-flex">
                        <h4 class="add-title">Nova função</h4>
                        <button
                            type="button"
                            class="btn btn-primary add-btn m-l-sm"
                            (click)="addAction()"
                        >
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div
                    class="ibox"
                    *ngFor="let func of logicElements; let funcIndex = index"
                >
                    <div class="ibox-title inside-ibox">
                        <h5 class="func-name">Nome da função:</h5>
                        <input
                            class="m-l-sm form-control"
                            style="width: 200px"
                            type="text"
                            [value]="func.funcName"
                            [attr.readOnly]="func.readonly ? '' : null"
                        />
                        <div class="ibox-tools">
                            <div class="row-flex">
                                <h4 class="add-title">Novo item</h4>
                                <button
                                    type="button"
                                    class="btn btn-primary add-btn m-l-sm dropdown-toggle"
                                    data-toggle="dropdown"
                                >
                                    <i class="fa fa-plus"></i>
                                </button>
                                <ul class="dropdown-menu create-item">
                                    <li
                                        (click)="
                                            createItem(func.funcName, 'cl')
                                        "
                                    >
                                        <a> Linha de comando </a>
                                    </li>
                                    <li *ngIf="funcIndex === 0">
                                        <a
                                            (click)="
                                                createItem(func.funcName, 'evt')
                                            "
                                        >
                                            Evento
                                        </a>
                                    </li>
                                </ul>

                                <button
                                    *ngIf="funcIndex !== 0"
                                    class="m-l-md btn btn-remove"
                                    (click)="removeFunc(funcIndex)"
                                >
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div
                            class="col-md-12 m-b-md m-t-sm"
                            *ngFor="
                                let cl of func.commandLine;
                                let funcClIndex = index
                            "
                        >
                            <div class="row">
                                <div class="col-md-3">
                                    <select
                                        class="form-control"
                                        (change)="
                                            funcClTypeChange(
                                                $event.target.value,
                                                false,
                                                func.funcName,
                                                funcClIndex,
                                                -1
                                            )
                                        "
                                    >
                                        <option value="decision">
                                            Decisão
                                        </option>
                                        <option value="repetition">
                                            Repetição
                                        </option>
                                        <option value="declaration">
                                            Declaração
                                        </option>
                                        <option value="http">HTTP</option>
                                    </select>
                                </div>
                                <div class="col-md-8">
                                    <ng-container
                                        *ngIf="cl.type.name === 'decision'"
                                        [ngTemplateOutlet]="ifDecision"
                                        [ngTemplateOutletContext]="{
                                            index: funcClIndex,
                                            evtIndex: -1,
                                            isEvt: false,
                                            funcName: func.funcName
                                        }"
                                    ></ng-container>
                                    <ng-container
                                        *ngIf="cl.type.name === 'declaration'"
                                        [ngTemplateOutlet]="declaration"
                                        [ngTemplateOutletContext]="{
                                            index: funcClIndex,
                                            evtIndex: -1,
                                            isEvt: false,
                                            funcName: func.funcName
                                        }"
                                    ></ng-container>
                                    <ng-container
                                        *ngIf="cl.type.name === 'http'"
                                        [ngTemplateOutlet]="http"
                                        [ngTemplateOutletContext]="{
                                            index: funcClIndex,
                                            evtIndex: -1,
                                            isEvt: false,
                                            funcName: func.funcName
                                        }"
                                    ></ng-container>
                                </div>
                                <div class="col-md-1">
                                    <button
                                        class="m-l-md btn btn-remove"
                                        (click)="
                                            removeItem(
                                                func.funcName,
                                                'cl',
                                                funcClIndex
                                            )
                                        "
                                    >
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-md-12 m-b-md m-t-sm"
                            *ngFor="
                                let evt of func.events;
                                let evtIndex = index
                            "
                        >
                            <div class="ibox">
                                <div class="ibox-title inside-ibox">
                                    <h5 class="func-name">Componente:</h5>
                                    <select
                                        class="m-l-sm form-control"
                                        style="width: 150px"
                                    >
                                        <option
                                            *ngFor="let element of elements"
                                            [value]="element.name"
                                        >
                                            {{ element.name }}
                                        </option>
                                    </select>
                                    <select
                                        class="m-l-sm form-control"
                                        style="width: 150px"
                                        (change)="
                                            changeEventType(
                                                $event.target.value,
                                                evtIndex
                                            )
                                        "
                                    >
                                        <option value="onClick">Click</option>
                                        <option value="onDoubleClick">
                                            Double Click
                                        </option>
                                        <option value="onChange">Change</option>
                                    </select>
                                    <div class="ibox-tools">
                                        <div class="row-flex">
                                            <h4 class="add-title">
                                                Nova linha de comando
                                            </h4>
                                            <button
                                                type="button"
                                                class="btn btn-primary add-btn m-l-sm"
                                                data-toggle="dropdown"
                                                (click)="
                                                    createEvtCl(evt.eventName)
                                                "
                                            >
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            <button
                                                class="m-l-md btn btn-remove"
                                                (click)="
                                                    removeItem(
                                                        func.funcName,
                                                        'evt',
                                                        evtIndex
                                                    )
                                                "
                                            >
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div
                                    class="col-md-12 m-b-md m-t-sm"
                                    *ngFor="
                                        let cl of evt.commandLine;
                                        let evtClIndex = index
                                    "
                                >
                                    <div class="row">
                                        <div class="col-md-3">
                                            <select
                                                class="form-control"
                                                (change)="
                                                    funcClTypeChange(
                                                        $event.target.value,
                                                        true,
                                                        func.funcName,
                                                        evtClIndex,
                                                        evtIndex
                                                    )
                                                "
                                            >
                                                <option value="decision">
                                                    Decisão
                                                </option>
                                                <option value="repetition">
                                                    Repetição
                                                </option>
                                                <option value="declaration">
                                                    Declaração
                                                </option>
                                                <option value="http">
                                                    HTTP
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-8">
                                            <ng-container
                                                *ngIf="
                                                    cl.type.name === 'decision'
                                                "
                                                [ngTemplateOutlet]="ifDecision"
                                                [ngTemplateOutletContext]="{
                                                    index: evtClIndex,
                                                    evtIndex: evtIndex,
                                                    isEvt: true,
                                                    funcName: func.funcName
                                                }"
                                            ></ng-container>
                                            <ng-container
                                                *ngIf="
                                                    cl.type.name ===
                                                    'declaration'
                                                "
                                                [ngTemplateOutlet]="declaration"
                                                [ngTemplateOutletContext]="{
                                                    index: evtClIndex,
                                                    evtIndex: evtIndex,
                                                    isEvt: true,
                                                    funcName: func.funcName
                                                }"
                                            ></ng-container>
                                            <ng-container
                                                *ngIf="cl.type.name === 'http'"
                                                [ngTemplateOutlet]="http"
                                                [ngTemplateOutletContext]="{
                                                    index: evtClIndex,
                                                    evtIndex: evtIndex,
                                                    isEvt: true,
                                                    funcName: func.funcName
                                                }"
                                            ></ng-container>
                                        </div>
                                        <div class="col-md-1">
                                            <button
                                                class="m-l-md btn btn-remove"
                                                (click)="
                                                    removeEvtCl(
                                                        evt.eventName,
                                                        evtClIndex
                                                    )
                                                "
                                            >
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="col-12 text-right">
    <button
        type="button"
        class="btn btn-primary m-t-sm tab-btn"
        (click)="apply()"
    >
        Aplicar
    </button>
</div>

<ng-template
    #ifDecision
    let-index="index"
    let-evtIndex="evtIndex"
    let-isEvt="isEvt"
    let-funcName="funcName"
>
    <div class="col-md-12">
        <div class="column">
            <div class="row m-b-sm">
                <div class="col-1 m-h-auto">Se</div>
                <div class="col-3">
                    <select
                        class="form-control"
                        (change)="
                            changeIfCondition(
                                $event.target.value,
                                funcName,
                                isEvt,
                                index,
                                evtIndex
                            )
                        "
                    >
                        <option value="comparison">Comparação</option>
                        <option value="booleanLogic">Lógica Booleana</option>
                    </select>
                </div>
                <div class="col-8">
                    <ng-container
                        *ngIf="
                            ifCondition(funcName, isEvt, index, evtIndex) ===
                            'comparison'
                        "
                        [ngTemplateOutlet]="comparison"
                        [ngTemplateOutletContext]="{
                            index: index,
                            evtIndex: evtIndex,
                            isEvt: isEvt,
                            funcName: funcName
                        }"
                    ></ng-container>
                    <ng-container
                        *ngIf="
                            ifCondition(funcName, isEvt, index, evtIndex) ===
                            'booleanLogic'
                        "
                        [ngTemplateOutlet]="booleanLogic"
                    ></ng-container>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template
    #declaration
    let-index="index"
    let-evtIndex="evtIndex"
    let-isEvt="isEvt"
    let-funcName="funcName"
>
    <form
        [formGroup]="getDeclarationFormGroup(index, isEvt, evtIndex, funcName)"
        role="form"
    >
        <div class="col-md-12">
            <div class="row">
                <div class="col-4">
                    <select class="form-control" formControlName="varType">
                        <option value="adt">Algébrico</option>
                        <option value="array">Array</option>
                        <option value="char">Caracter</option>
                        <option value="double">Double</option>
                        <option value="integer">Inteiro</option>
                        <option value="record">Registro</option>
                        <option value="text">Texto</option>
                    </select>
                </div>
                <div class="col-4">
                    <input
                        type="text"
                        class="form-control"
                        formControlName="varName"
                        placeholder="Nome"
                    />
                </div>
                <div class="col-4">
                    <input
                        type="text"
                        class="form-control"
                        formControlName="varValue"
                        placeholder="Valor"
                    />
                </div>
            </div>
        </div>
    </form>
</ng-template>

<ng-template
    #comparison
    let-index="index"
    let-evtIndex="evtIndex"
    let-isEvt="isEvt"
    let-funcName="funcName"
>
    <form
        [formGroup]="getComparisonFormGroup(index, isEvt, evtIndex, funcName)"
        role="form"
    >
        <div class="col-md-12">
            <div class="row">
                <div class="col-5">
                    <input
                        type="text"
                        class="form-control"
                        formControlName="leftExpression"
                    />
                </div>
                <div class="col-2">
                    <select
                        class="form-control"
                        style="padding: 0 0 0 5px"
                        formControlName="symbol"
                    >
                        <option value="Different">&ne;</option>
                        <option value="Equal">=</option>
                        <option value="Greater">></option>
                        <option value="GreaterEqual">&ge;</option>
                        <option value="Less"><</option>
                        <option value="LessEqual">&le;</option>
                    </select>
                </div>
                <div class="col-5">
                    <input
                        type="text"
                        class="form-control"
                        formControlName="rightExpression"
                    />
                </div>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #booleanLogic>
    <div class="col-md-12">
        <div class="row">
            <div class="col-5">
                <input type="text" class="form-control" />
            </div>
            <div class="col-2">
                <select class="form-control" style="padding: 0 0 0 5px">
                    <option value="And">and</option>
                    <option value="Or">or</option>
                    <option value="Not">not</option>
                </select>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
</ng-template>

<ng-template
    #http
    let-index="index"
    let-evtIndex="evtIndex"
    let-isEvt="isEvt"
    let-funcName="funcName"
>
    <form
        role="form"
        [formGroup]="getHttpFormGroup(index, isEvt, evtIndex, funcName)"
    >
        <div class="col-md-12">
            <div class="column">
                <div class="row m-b-sm">
                    <div class="col-4">
                        <select
                            class="form-control"
                            formControlName="httpMethod"
                        >
                            <option value="get">GET</option>
                            <option value="post">POST</option>
                            <option value="put">PUT</option>
                            <option value="delete">DELETE</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <input
                            type="text"
                            class="form-control"
                            formControlName="httpUrl"
                            placeholder="URL"
                        />
                    </div>
                    <div class="col-2">
                        <button
                            type="button"
                            class="btn btn-primary add-btn m-l-sm"
                            (click)="
                                addHeader(index, isEvt, evtIndex, funcName)
                            "
                        >
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div
                    class="row m-b-sm"
                    *ngFor="
                        let header of getHttpHeaderArrayData(
                            index,
                            isEvt,
                            evtIndex,
                            funcName
                        ).controls;
                        let i = index
                    "
                    [formGroup]="header"
                >
                    <div class="col-5">
                        <input
                            type="text"
                            class="form-control"
                            formControlName="httpHeaderName"
                        />
                    </div>
                    <div class="col-5">
                        <input
                            type="text"
                            class="form-control"
                            formControlName="httpHeaderValue"
                        />
                    </div>
                    <div class="col-2">
                        <button
                            class="m-l-md btn btn-remove"
                            (click)="
                                removeHeader(
                                    index,
                                    isEvt,
                                    evtIndex,
                                    funcName,
                                    i
                                )
                            "
                        >
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ng-template>
