<div class="row col-md-12 text-left m-b-md" style="padding-right: 0 !important">
    <div class="col-md-6 text-left">
        <button
            type="button"
            class="btn m-r-md tab-btn"
            [class.btn-default]="isLogicContainer"
            [class.btn-primary]="!isLogicContainer"
            (click)="setLogicContainer(false)"
        >
            Interface
        </button>
        <button
            type="button"
            class="btn btn-default tab-btn"
            [class.btn-default]="!isLogicContainer"
            [class.btn-primary]="isLogicContainer"
            (click)="setLogicContainer(true)"
        >
            Lógica
        </button>
    </div>
    <div class="col-md-6 text-right" style="padding-right: 0 !important">
        <button type="button" class="btn btn-primary tab-btn" (click)="apply()">
            Aplicar
        </button>
    </div>
</div>

<div id="gui" class="col-md-12" *ngIf="!isLogicContainer">
    <div class="screen" id="canvas">
        <div *ngFor="let e of elements; let i = index">
            <div
                *ngIf="e.type === 'container'"
                [ngStyle]="{
                    width: e.width,
                    height: e.height,
                    position: 'absolut',
                    border: 'solid'
                }"
                mwlResizable
                (click)="click($event, $event.target)"
                cdkDrag
                cdkDragBoundary=".screen"
                [id]="e.name"
            ></div>
            <button
                *ngIf="e.type === 'button'"
                class="btn btn-default draggable"
                [id]="e.name"
                (click)="click($event, $event.target)"
                cdkDrag
                cdkDragBoundary=".screen"
            >
                Botão
            </button>
            <p
                *ngIf="e.type === 'label'"
                class="draggable"
                [id]="e.name"
                (click)="click($event, $event.target)"
                cdkDrag
                cdkDragBoundary=".screen"
            >
                Novo Label
            </p>
            <input
                *ngIf="e.type === 'input'"
                class="draggable input-field"
                [id]="e.name"
                (click)="click($event, $event.target)"
                cdkDrag
                cdkDragBoundary=".screen"
            />
        </div>
    </div>
</div>

<div id="logic" class="col-md-12" *ngIf="isLogicContainer">
    <form [formGroup]="logicForm">
        <div class="ibox">
            <div class="ibox-title">
                <div class="ibox-tools">
                    <div class="row-flex">
                        <h4 class="add-title">Nova função</h4>
                        <button
                            type="button"
                            class="btn btn-primary add-btn m-l-sm"
                            (click)="addAction()"
                        >
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div
                    class="ibox"
                    *ngFor="let func of logicElements; let funcIndex = index"
                >
                    <div class="ibox-title inside-ibox">
                        <h5 class="func-name">Nome da função:</h5>
                        <input
                            class="m-l-sm form-control"
                            style="width: 200px"
                            type="text"
                            [value]="func.funcName"
                            [attr.readOnly]="func.readonly ? '' : null"
                        />
                        <div class="ibox-tools">
                            <div class="row-flex">
                                <h4 class="add-title">Novo item</h4>
                                <button
                                    type="button"
                                    class="btn btn-primary add-btn m-l-sm dropdown-toggle"
                                    data-toggle="dropdown"
                                >
                                    <i class="fa fa-plus"></i>
                                </button>
                                <ul class="dropdown-menu create-item">
                                    <li
                                        (click)="
                                            createItem(func.funcName, 'cl')
                                        "
                                    >
                                        <a> Linha de comando </a>
                                    </li>
                                    <li *ngIf="funcIndex === 0">
                                        <a
                                            (click)="
                                                createItem(func.funcName, 'evt')
                                            "
                                        >
                                            Evento
                                        </a>
                                    </li>
                                </ul>

                                <button
                                    *ngIf="funcIndex !== 0"
                                    class="m-l-md btn btn-remove"
                                    (click)="removeFunc(funcIndex)"
                                >
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div
                            class="col-md-12 m-b-md m-t-sm"
                            *ngFor="
                                let cl of func.commandLine;
                                let funcClIndex = index
                            "
                        >
                            <div class="row">
                                <div class="col-md-3">
                                    <select class="form-control">
                                        <option value="decision">
                                            Decisão
                                        </option>
                                        <option value="repetition">
                                            Repetição
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12 m-b-sm column">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <select class="form-control">
                                                    <option value="if">
                                                        Se
                                                    </option>
                                                    <option value="switch">
                                                        Switch
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-7">
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <button
                                        class="m-l-md btn btn-remove"
                                        (click)="
                                            removeItem(
                                                func.funcName,
                                                'cl',
                                                funcClIndex
                                            )
                                        "
                                    >
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div
                            class="col-md-12 m-b-md m-t-sm"
                            *ngFor="
                                let evt of func.events;
                                let evtIndex = index
                            "
                        >
                            <div class="ibox">
                                <div class="ibox-title inside-ibox">
                                    <h5 class="func-name">Componente:</h5>
                                    <select
                                        class="m-l-sm form-control"
                                        style="width: 150px"
                                    >
                                        <option
                                            *ngFor="let element of elements"
                                            [value]="element.name"
                                        >
                                            {{ element.name }}
                                        </option>
                                    </select>
                                    <div class="ibox-tools">
                                        <div class="row-flex">
                                            <h4 class="add-title">
                                                Nova linha de comando
                                            </h4>
                                            <button
                                                type="button"
                                                class="btn btn-primary add-btn m-l-sm"
                                                data-toggle="dropdown"
                                                (click)="
                                                    createEvtCl(evt.eventName)
                                                "
                                            >
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            <button
                                                class="m-l-md btn btn-remove"
                                                (click)="
                                                    removeItem(
                                                        func.funcName,
                                                        'evt',
                                                        evtIndex
                                                    )
                                                "
                                            >
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div
                                    class="col-md-12 m-b-md m-t-sm"
                                    *ngFor="
                                        let cl of evt.commandLine;
                                        let evtClIndex = index
                                    "
                                >
                                    <div class="row">
                                        <div class="col-md-3">
                                            <select class="form-control">
                                                <option value="decision">
                                                    Decisão
                                                </option>
                                                <option value="repetition">
                                                    Repetição
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <div
                                                class="col-md-12 m-b-sm column"
                                            >
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <select
                                                            class="form-control"
                                                        >
                                                            <option value="if">
                                                                Se
                                                            </option>
                                                            <option
                                                                value="switch"
                                                            >
                                                                Switch
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <button
                                                class="m-l-md btn btn-remove"
                                                (click)="
                                                    removeEvtCl(
                                                        evt.eventName,
                                                        evtClIndex
                                                    )
                                                "
                                            >
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="col-12 text-right">
    <button
        type="button"
        class="btn btn-primary m-t-sm tab-btn"
        (click)="apply()"
    >
        Aplicar
    </button>
</div>
