<form [formGroup]="infosForm" (ngSubmit)="apply()">
    <mat-tab-group
        dynamicHeight
        animationDuration="0ms"
        mat-align-tabs="center"
    >
        <mat-tab label="Informations">
            <div class="col-md-12 m-t-sm">
                <h3>Type: {{ infosForm.get("type").value }}</h3>
                <div class="col-12">
                    <div class="row m-b-sm">
                        <div class="col-3 m-auto">
                            <h5>Name:</h5>
                        </div>
                        <div class="col-9">
                            <input
                                type="text"
                                class="form-control"
                                formControlName="name"
                            />
                        </div>
                    </div>
                    <div class="row m-b-sm">
                        <div class="col-3 m-auto">
                            <h5>Text:</h5>
                        </div>
                        <div class="col-9">
                            <input
                                type="text"
                                class="form-control"
                                formControlName="text"
                            />
                        </div>
                    </div>
                    <div
                        *ngIf="infosForm.get('type').value === 'select'"
                        class="row m-b-sm"
                    >
                        <div class="col-3 m-auto">
                            <h5>Options</h5>
                        </div>
                        <div class="col-9">
                            <textarea
                                class="form-control"
                                cols="30"
                                rows="10"
                                formControlName="selectOptions"
                            ></textarea>
                        </div>
                    </div>
                    <div
                        *ngIf="infosForm.get('type').value === 'img'"
                        class="row m-b-sm"
                    >
                        <div class="col-3 m-auto">
                            <h5>Source:</h5>
                        </div>
                        <div class="col-9">
                            <input
                                type="text"
                                class="form-control"
                                formControlName="imgSrc"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Style">
            <div class="col-md-12 m-t-sm">
                <div class="col-12">
                    <div class="row m-b-sm">
                        <div class="col-3 m-auto">
                            <h5>Height:</h5>
                        </div>
                        <div class="col-5 size-input">
                            <input
                                type="number"
                                class="form-control"
                                formControlName="height"
                                min="1"
                            />
                        </div>
                        <div class="col-4">
                            <select
                                formControlName="heightUnity"
                                class="form-control"
                            >
                                <option value="px">px</option>
                                <option value="pct">%</option>
                                <option value="rem">rem</option>
                            </select>
                        </div>
                    </div>
                    <div class="row m-b-sm">
                        <div class="col-3 m-auto">
                            <h5>Width:</h5>
                        </div>
                        <div class="col-5 size-input">
                            <input
                                type="number"
                                class="form-control"
                                formControlName="width"
                                min="1"
                            />
                        </div>
                        <div class="col-4">
                            <select
                                formControlName="widthUnity"
                                class="form-control"
                            >
                                <option value="px">px</option>
                                <option value="pct">%</option>
                                <option value="rem">rem</option>
                            </select>
                        </div>
                    </div>
                    <h4 class="m-b-sm">Centering</h4>
                    <div class="row m-b-sm">
                        <div class="col-3">
                            <button
                                type="button"
                                class="btn btn-default btn-align"
                                (click)="alignText('left')"
                                [disabled]="!haveComponent"
                            >
                                <i class="fa fa-align-left"></i>
                            </button>
                        </div>
                        <div class="col-3">
                            <button
                                type="button"
                                class="btn btn-default btn-align"
                                (click)="alignText('center')"
                                [disabled]="!haveComponent"
                            >
                                <i class="fa fa-align-center"></i>
                            </button>
                        </div>
                        <div class="col-3">
                            <button
                                type="button"
                                class="btn btn-default btn-align"
                                (click)="alignText('right')"
                                [disabled]="!haveComponent"
                            >
                                <i class="fa fa-align-right"></i>
                            </button>
                        </div>
                        <div class="col-3">
                            <button
                                type="button"
                                class="btn btn-default btn-align"
                                (click)="alignText('justify')"
                                [disabled]="!haveComponent"
                            >
                                <i class="fa fa-align-justify"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

    <div class="col-12 text-right m-t-sm">
        <button
            type="submit"
            [disabled]="infosForm.invalid || !haveComponent"
            class="btn btn-primary"
        >
            Apply
        </button>
    </div>
</form>
