<div class="row border-bottom white-bg" style="height: 60px;">
    <nav class="navbar navbar-static-top" role="navigation"
        style="margin-bottom: 0;">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary"
                (click)="toggleNavigation()"
                style="color: #ffffff !important;">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown" style="align-self: auto;">
                <button class="dropdown-toggle minimalize-styl-2 btn btn-primary"
                    data-toggle="dropdown">
                    <i class="fa fa-gear"></i>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a (click)="logout()">
                            <i class="fa fa-sign-out"></i>
                            Dashboard
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
