<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div></div>
        <div class="m-t-md">
            <form
                class="m-t"
                role="form"
                [formGroup]="signupForm"
                (ngSubmit)="signUp()"
            >
                <div class="form-group">
                    <input
                        type="email"
                        email
                        formControlName="email"
                        class="form-control"
                        placeholder="email"
                    />
                </div>
                <div class="form-group">
                    <input
                        type="password"
                        formControlName="password"
                        class="form-control"
                        placeholder="Senha"
                    />
                </div>
                <button
                    [disabled]="signupForm.invalid"
                    class="btn btn-primary block full-width m-b"
                >
                    Criar Conta
                </button>

                <p class="text-muted text-center">
                    <small>Já tem uma conta?</small>
                </p>
                <a class="btn btn-sm btn-white btn-block" [routerLink]="['/']">
                    Entre na plataforma
                </a>
            </form>
        </div>
    </div>
</div>
